body {
    margin:0;
    padding:0;
}

.table-bar {
    padding: 20px 0px 20px;
}

.order-table {
    width: 300px;
    height: 100px;
    background: gray;
    text-align: center;
    line-height: 100px;
    float: left;
    margin: 5px;
    color: white;
    font-weight: bold;
}