<div class="modal fade" tabindex="-1" data-order-details="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><%= table.name %></h4>
            </div>
            <div class="modal-body ttt">
                <%
                    if (table.orders.length == 0 && table.isWaiting) {
                %>
                    <h4><%= plugins.translate("table-waiting")%></h4>
                <% } else if (table.orders.length == 0){ %>
                    <h4><%= plugins.translate("not-orders")%></h4>
                <% } %>
                <% table.orders.forEach(function(order, index) { %>

                    <hr>

                <div data-order-item="true">

                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="text-primary"><%= plugins.translate("order-details-number") + (index + 1) %></h4>
                        </div>
                        <div class="col-xs-6 text-right">
                            <h4 class="text-primary"><%= plugins.date("{hh}:{mins}", order.createdDate) %></h4>
                        </div>
                    </div>

                    <div class="row">

                        <% order.data.forEach(function(orderItem) { %>

                        <div class="col-xs-6"><b><%= orderItem.product.title %></b></div>
                        <div class="col-xs-2 text-center"><%= orderItem.product.price %> <%= plugins.translate("currency") %></div>
                        <div class="col-xs-2 text-center"><%= orderItem.amount %> <%= plugins.translate("amount") %></div>
                        <div class="col-xs-2 text-right"><b><%= orderItem.price %> <%= plugins.translate("currency") %></b></div>

                        <%  if (orderItem.options != undefined && orderItem.options.length) {  %>

                        <div class="col-xs-12"><b>Добавки</b></div>

                        <div class="col-xs-12">

                            <% orderItem.options.forEach(function(option, index) { %>

                            <div class="row">
                                <div class="col-xs-6" style="padding-left: 40px;"><%= orderItem.product.options[index].title %></div>
                                <div class="col-xs-2 text-center"><%= orderItem.product.options[index].price %> <%= plugins.translate("currency") %></div>
                                <div class="col-xs-2 text-center"><%= option.amount %> <%= plugins.translate("amount") %></div>
                                <div class="col-xs-2 text-right"><b><%= orderItem.product.options[index].price * option.amount %> <%= plugins.translate("currency") %></b></div>
                            </div>

                            <% }); %>

                        </div>

                        <% } %>

                        <hr>

                        <% }); %>

                    </div>

                    <div class="row">
                        <div class="col-xs-6 text-left"><b><%= plugins.translate('amount-label') %></b></div>
                        <div class="col-xs-6 text-right"><b><%= order.price %> <%= plugins.translate("currency") %></b></div>
                    </div>

                    <div class="row toolbar text-right">

                        <button class="btn btn-info"
                                style="width: 200px;"
                                data-order-status="true"
                                data-order="<%= order.id %>"
                        <% if (order.status == "success"){ %> disabled <% } %>>
                        <%= plugins.translate('order-status') %></button>

                        <button class="btn btn-success"
                                style="width: 200px;"
                                data-order-pay-status="true"
                                data-order="<%= order.id %>"
                        <% if (order.payStatus == "yes"){ %> disabled="disabled" <% } %>>
                            <%= plugins.translate('order-payStatus') %>
                            <% if (order.paymentMethod == "card"){ %><%= plugins.translate('order-paymentMethod-card') %><% } %>
                        </button>

                        <button class="btn btn-warning"
                                style="width: 200px;"
                                data-order-cancel="false"
                                data-order="<%= order.id %>"
                        <% if (order.payStatus == "yes"){ %> disabled="disabled" <% } %>>
                            <%= plugins.translate('order-cancel') %></button>

                    </div>

                </div>

                <% }); %>

                <hr>
                <% if (table.orders.length > 0) { %>
                <div class="row">
                    <div class="col-xs-6"><b><%= plugins.translate('amount-all-orders') %></b></div>
                    <div class="col-xs-6 text-right"><b><%= table.totalPrice %> <%= plugins.translate('currency') %></b></div>
                </div>
                <% } %>

            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-default"
                        style="width: 200px;"
                        data-dismiss="modal">
                    <%= plugins.translate('done') %></button>
            </div>
        </div>
    </div>
</div>