<div class="row">

    <% tables.forEach(function(table){ %>

        <div data-table="true" data-id="<%= table.id %>" class="col-xs-2">
            <div class="alert alert-default">
                <strong><%= table.name %></strong>
                <div class="indicator glyphicon glyphicon-exclamation-sign order animated infinite flash"></div>
                <div class="indicator glyphicon glyphicon-phone-alt call animated infinite flash"></div>
            </div>
        </div>

    <% }); %>

</div>