<div class="modal fade" tabindex="-1" id="addTableModal" role="dialog">
    <div class="smodal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">tab-table-modal-add-table-title</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="addFormTableName">table-name</label>
                        <input type="text" class="form-control" id="addFormTableName">
                    </div>
                    <div class="form-group">
                        <label for="addFormTableToken">table-token</label>
                        <input type="text" class="form-control" id="addFormTableToken">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                <button type="button" class="btn btn-primary" id="addTableBtn">add</button>
            </div>
        </div>
    </div>