<div class="modal fade" tabindex="-1" data-support="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><%= plugins.translate('menu-contact-administrator') %></h4>
            </div>
            <div class="modal-body">
                <div class="well">
                    <div class="row">
                        <div class="col-xs-12">
                            <b><%= plugins.translate('any-questions') %></b>
                            <br />
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6"><%= plugins.translate('call-us') %></div>
                        <div class="col-xs-6">
                            +38 (066) 129-41-11<br />
                            +38 (066) 129-41-12
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary btn-block" data-dismiss="modal"><%= plugins.translate('ok') %></a>
            </div>
        </div>
    </div>
</div>