<div class="row animated fadeInLeft">
    <div class="col-xs-7">
        <ol class="breadcrumb breadcrumb-arrow">

            <% if (source == 'all') { %>

                <li class="active"><span><%= plugins.translate('all-products') %></span></li>

            <% } else if (source == 'search') { %>

                <li><a data-see-all="true"><%= plugins.translate('all-products') %></a></li>
                <li class="active"><span><%= plugins.translate('search-results') %> "<%= search %>"</span></li>

            <% } else if (source == 'section') { %>

                <li><a data-see-all="true"><%= plugins.translate('all-products') %></a></li>
                <li class="active"><span><%= plugins.translate('by-section') %> "<%= section.title %>"</span></li>

            <% } %>

        </ol>
    </div>
    <div class="col-xs-3">
        <form class="form-search search-only" data-form-search="true">
            <i class="search-icon glyphicon glyphicon-search"></i>
            <input type="text" class="form-control search-query" placeholder="<%= plugins.translate('type-to-search') %>">
        </form>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-block btn-primary" data-product-add="true"><%= plugins.translate('add') %></a>
    </div>

</div>

<div data-product-list="true"></div>