<div data-ingredient="true" <% if (ingredient.ingredient.id) { %>data-added="true"<% } %>>
    <div class="col-xs-4">
        <div class="input-group">
            <div class="input-group-btn">
                <input type="text" class="form-control" data-title="true" value="<%= ingredient.ingredient.title %>">
                <ul class="dropdown-menu" data-list="true"></ul>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <input type="number" class="form-control" data-input="price" placeholder="<%= plugins.translate('price') %>" <% if (ingredient.price) { %>value="<%= ingredient.price %>"<% } else { %>disabled<% } %>>
    </div>
    <div class="col-xs-3">
        <input type="number" class="form-control" data-input="weight" placeholder="<%= plugins.translate('weight') %>" <% if (ingredient.weight) { %>value="<%= ingredient.weight %>"<% } else { %>disabled<% } %>>
    </div>
    <div class="col-xs-2 text-right">
        <a class="btn btn-block btn-info" data-remove="true"><span class="glyphicon glyphicon-trash"></span></a>
    </div>
</div>