<div class="row products" data-products="true">

    <% if (products.length) { %>

        <% for (var i=0; i<products.length; i++ ) { %>

            <div class="col-xs-12 item" data-product="true">
                <div class="media animated fadeInLeft">
                    <a class="pull-left">
                        <div class="media-object img-rounded" style="background-image: url(<%= products[i].images[0].url %>);"></div>
                    </a>
                    <div class="media-body">
                        <div class="row">
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="media-heading col-xs-3"><%= products[i].title %></div>
                                    <div class="col-xs-3"><%= products[i].price %> <%= plugins.translate('uah') %></div>
                                    <div class="col-xs-3"><%= products[i].weight %> <%= plugins.translate('gramm') %></div>
                                    <div class="col-xs-3">
                                        <a class="btn-link" data-section="true" data-id="<%= products[i].section.id %>"><%= products[i].section.title %></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2">

                                <div class="btn-group btn-block">
                                    <button type="button" class="btn btn-block btn-primary dropdown-toggle" data-toggle="dropdown"><%= plugins.translate('settings') %> <span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a data-edit="true" data-id="<%= products[i].id %>"><span class="glyphicon glyphicon-edit"></span> <%= plugins.translate('edit') %></a></li>
                                        <li><a data-remove="true" data-id="<%= products[i].id %>"><span class="glyphicon glyphicon-trash"></span> <%= plugins.translate('remove') %></a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <% } %>

    <% } else { %>

        <div class="col-xs-12 animated fadeInLeft">
            <p class="lead"><%= plugins.translate('there-no-products') %></p>
        </div>

    <% } %>
</div>

<% if (count > limit) { %>

    <div class="row" data-paginator="true">
        <div class="col-xs-12 text-center">
            <ul class="pagination animated fadeInLeft">

                <% if (page == 0) { %>
                    <li class="disabled"><a><%= plugins.translate('prev') %></a></li>
                <% } else {%>
                    <li><a data-nav="true" data-page="<%= page-1 %>"><%= plugins.translate('prev') %></a></li>
                <% } %>

                <% for (var i=0; i < count / limit; i++) { %>

                    <% if (i == page) { %>
                        <li class="active"><a><%= i+1 %></a></li>
                    <% } else { %>
                        <li><a data-nav="true" data-page="<%= i %>"><%= i+1 %></a></li>
                    <% } %>

                <% } %>

                <% if (count <= offset + limit) { %>
                    <li class="disabled"><a><%= plugins.translate('next') %></a></li>
                <% } else {%>
                    <li><a data-nav="true" data-page="<%= page+1 %>"><%= plugins.translate('next') %></a></li>
                <% } %>

            </ul>
        </div>
    </div>

<% } %>