<div data-option="true">
    <div class="col-xs-4">
        <input type="text" data-input="title" class="form-control" value="<%= option.title %>" placeholder="<%= plugins.translate('title') %>">
    </div>
    <div class="col-xs-3">
        <input type="number" data-input="price" class="form-control" placeholder="<%= plugins.translate('price') %>" value="<%= option.price %>">
    </div>
    <div class="col-xs-3">
        <input type="number" data-input="weight" class="form-control" placeholder="<%= plugins.translate('weight') %>" value="<%= option.weight %>">
    </div>
    <div class="col-xs-2 text-right">
        <a class="btn btn-block btn-info" data-remove="true"><span class="glyphicon glyphicon-trash"></span></a>
    </div>
</div>